.footer__container {
  background-color: #434b56;
  padding: 2rem;
  .upper {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    .navlinks {
      display: flex;
      // align-items: center;
      gap: 4rem;
      .first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .links {
          font-weight: 500;
          font-style: normal;
          font-size: 16px;
          letter-spacing: 0.15em;
          line-height: 2em;
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
           @media screen and (max-width: 750px) {
                     font-size: 14px;

          }
        }
      }
    }

    .local__info {
      max-width: 400px;
      @media screen and (max-width: 1050px) {
        max-width: 330px;
      }

      .first {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 12px;
        .first__icon {
          color: #fff;
          font-size: 32px;
        }
        .text {
          font-size: 17px;
          font-weight: 500;
          line-height: 20px;
          color: #fff;
          @media screen and (max-width: 1050px) {
            font-size: 14px;
          }
        }
      }
    }

    .social__icons {
      display: flex;
      color: #fff;

      gap: 1rem;
      .social__links {
        font-size: 40px;
        // border: 2px solid white;
        // padding: 5px;
        // border-radius: 50px;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    .footer__img {
        @media screen and (max-width: 750px) {
               width: 100%;
          }
   
    }
    .footer__text {
      font-size: 21px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
      @media screen and (max-width: 750px) {
            font-size: 15px;
            text-align: center;
          }
    }
  }
}
