@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit&family=Roboto+Mono&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.active{
  color: orange !important;
  font-weight: 700 !important;
}

