.burger {
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #434c56;
  height: 75px;
  z-index: 200;
  width: 100%;
  //   padding: 0 2rem;
  .logo {
    max-width: 130px;
    // height: 55px;
    // padding-left: 20px;
  }
  .iconss {
    height: 75px !important;
    width: 60px !important;
    color: #fff;
    padding-right: 20px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
}

.mobile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  .links {
    width: 100%;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-size: 16px;
    letter-spacing: .14em;
    line-height: 2.4em;
    text-transform: uppercase;
    color: #707070;
    text-decoration: none;
    .icons {
      // height: 55px !important;
      color: red;
    }
  }
}